
/**
 * Autosend logo.
 */

.logo[data-logo="Autosend"] {
  width: 0;
}

.logo[data-logo="Autosend"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Autosend"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Autosend"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
